white-color-main = #FFFFFF
red-color-main = #B15870
black-color-main = #656565
gray-color-main = #888888
gray-color-sub = #F7F7F7
gray-color-sub2 = #E3E3E3

color-white = #FFFFFF
color-base = #FBEFEE
color-font = #656565
color-accent = #B15870
color-sub = #cfb5bf

link(color-link)
  color color-link
  text-decoration none
  &:hover, &:active, &:visited, &:focus
    color color-link
    text-decoration none
active(color-active)
  &:active
    background color-active
